@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-plashka: #2A176D;
  --color-event-modal:#2A176D;
  --color-event-modal-stroke:#00C8FF;
  --color-event-modal-button:#1C0D52;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/background/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.dark body::before {
  background-image: url("/background/background_dark.svg");
}
main {
  background: none;
}

.start-turn-button {
  
  background: radial-gradient(50% 191.67% at 50% 50%, #00D477 0%, #75FFC8 100%);
border: 1px solid rgba(0, 211, 121, 0.77);
border-radius: 8px;


  
}
.new-game-button {
  background: radial-gradient(50% 275% at 50% 50%, #E94B4B 0%, #FF7B7B 100%);
border: 1px solid rgba(221, 70, 70, 0.66);
border-radius: 8px;


}

.all-achievements-button {
  background: radial-gradient(50% 275% at 50% 50%, #2C5DFF 0%, #5D87FF 100%);
  border: 1px solid rgba(57, 106, 255, 0.66);
  border-radius: 8px;

}

.glossary-button {
  background: radial-gradient(50% 191.67% at 50% 50%, #FFAA21 0%, #FFE079 100%);
border-radius: 8px;
  border:2px solid transparent;

  }

#balance-card {
  background-image: url("../../public/background/balance-card-background.svg");
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}
#mood-card {
  background-image: url("../../public/background/mood-card-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}
#savings-card {
  background-image: url("../../public/background/savings-card-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}
#debt-card {
  background-image: url("../../public/background/debt-card-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}

.modal-background {
  background-image: url("../../public/background/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}